**/.venv/
**/node_modules/
**/dist/
**/target/
**/__pycache__/
.m2/
.npm-cache/
*.pyc
.env
*.rar
*.zip

# --- infra / CD ---
terraform/**/.terraform/
terraform/**/.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log
.oci/
*.pem
!**/gh-actions-deployer-*_public.pem
plan.json
tfplan.bin
*.tfplan
